/* Add your custom styles below */
body {
  background-color: #fff6eb;
}

#main-container {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px 10px 20px rgba(0, 0, 0, 0.2);
}

.bg-deep-forest {
  background-color: #2E4B3C;
}

.bg-warm-beige {
  background-color: #E9D7B8;
}